<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Category')}" />

<body>
    <header>
        <nav th:replace="~{fragments/navbar :: navbar('Tickets-platform')}" />
    </header>
    <section class="title row">
        <div class="col-12 ">
            <h1 class="text-center fw-bold mb-3">
                Gestisci Categorie
            </h1>
        </div>
    </section>
    <section class="search-bar row justify-content-center mb-3">
        <form th:action="@{/admin/categories}" method="GET"
            class="col-10 d-flex align-items-center justify-content-between">
            <div class="order-1 me-auto" style="min-width: 200px;">
                <a th:href="@{/admin/categories/create}" class="btn btn-primary">Crea una nuova categoria</a>
            </div>
        </form>
    </section>
    <main class="container justify-content-center col-12">
        <table class="table table-striped">
            <thead class="table-warning">
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="category : ${categories}" th:object="${category}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{name}"></td>
                    <td>
                        <div class="d-flex flex-wrap gap-2 align-items-center">
                            <div sec:authorize="hasAuthority('ADMIN')">
                                <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                    th:data-bs-target="'#delete-modal-' + *{id}">
                                    Elimina
                                </button>
                            </div>
                        </div>
                        <div class="modal fade" th:id="'delete-modal-' + *{id}" data-bs-backdrop="static"
                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                            aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Eliminazione di
                                            <strong>"[[*{name}]]"</strong>
                                        </h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>
                                            Sei sicuro di voler eliminare
                                            <strong>"[[*{name}]]"</strong>?
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Chiudi</button>
                                        <form th:action="@{|/admin/categories/*{id}/delete|}" method="post"
                                            class="d-inline">
                                            <button type="submit" class="btn btn-danger btn">Elimina</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>


    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    <th:block th:replace="~{fragments/footer :: scripts}"></th:block>
</body>

</html>