<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Ticket')}" />

<body>
    <header>
        <nav th:replace="~{fragments/navbar :: navbar('Tickets-platform')}" />
    </header>
    <section class="title row">
        <div class="col-12 ">
            <h1 class="text-center fw-bold mb-3">
                I tuoi Ticket
            </h1>
        </div>
    </section>
    <main class="container justify-content-center col-12">
        <table class="table table-striped">
            <thead class="table-warning">
                <tr>
                    <th>ID</th>
                    <th>Titolo</th>
                    <th>Descrizione</th>
                    <th>Categoria</th>
                    <th>Operatore</th>
                    <th>Stato</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="ticket : ${tickets}" th:object="${ticket}">
                    <td th:text="*{id}"></td>
                    <td th:text="*{title}"></td>
                    <td th:text="*{description}"></td>
                    <td th:text="*{category?.name}"></td>
                    <td th:text="*{user?.username}"></td>
                    <td>
                        <form th:action="@{'/operator/tickets/' + *{id}}" method="post" style="display:flex;gap:4px;">
                            <select class="form-select form-select-sm" name="status" style="width:auto;">
                                <option th:value="to_do" th:selected="*{status.name() == 'to_do'}">
                                    Da fare
                                </option>
                                <option th:value="in_progress" th:selected="*{status.name() == 'in_progress'}">
                                    In corso
                                </option>
                                <option th:value="done" th:selected="*{status.name() == 'done'}">
                                    Completato
                                </option>
                            </select>
                            <button type="submit" class="bs-body-color btn-sm">Salva</button>
                        </form>
                    </td>
                    <td>
                        <div class="d-flex flex-wrap gap-2 align-items-center">
                            <a th:href="@{/operator/tickets/{id}(id=*{id})}" class="btn btn-primary btn-sm">Dettagli</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
                <path
                    d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
            </symbol>
        </svg>
        <div th:if="${tickets == null or #lists.isEmpty(tickets)}" class="alert alert-danger text-center">
            Non hai nessun ticket da svolgere.
        </div>
    </main>


    <th:block th:replace="~{fragments/footer :: footer}"></th:block>
    <th:block th:replace="~{fragments/footer :: scripts}"></th:block>
</body>

</html>