<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dettagli Ticket</title>
    <th:block th:replace="~{fragments/head :: head('Dettagli ticket')}">
    </th:block>
</head>

<body>
    <header>
        <nav th:replace="~{ fragments/navbar :: navbar('Dettagli ticket') }"></nav>
    </header>

    <main class="container">
        <section class="row upper">
            <div class="col-12 p-5 mb-3 text-center">
                <h1>Dettagli Ticket</h1>
            </div>
        </section>
        <section class="row ticket-viewer justify-content-center">
            <div class="col-8" th:object="${ticket}">
                <article class="card">
                    <h2 class="card-header">[[*{title}]]€</h5>
                        <div class="card-body">
                            <p><strong>Descrizione:</strong> <span>[[*{description}]]</span></p>
                            <p><strong>Categoria:</strong> <span>[[*{category?.name}]]</span></p>
                            <p><strong>Operatore:</strong> <span>[[*{user?.username}]]</span></p>
                            <p><strong>Stato:</strong>
                                <span th:if="*{status.name() == 'to_do'}">Da fare</span>
                                <span th:if="*{status.name() == 'in_progress'}">In corso</span>
                                <span th:if="*{status.name() == 'done'}">Completato</span>
                            </p>
                            <a th:href="@{/operator/tickets}" class="btn btn-primary">Indietro</a>
                        </div>
                </article>
            </div>
        </section>
    </main>
</body>

</html>